$white: #fff;
$color: #ed1b24;
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.about__us__section {
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 0;
  position: relative;
}
.about__us__section__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 600px;
}
.about__us__section__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.about__us__container__overlay {
  position: absolute;
  padding: 4em;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__us__container__overlay__left {
  width: 65%;
  padding: 2em;
}
.about__us__overlay__left__heading {
  font-size: 35px;
  color: $white;
  font-weight: 600;
  margin-bottom: 1em;
  font-family: "Poppins", sans-serif;
}
.about__us__overlay__left__text {
  font-size: 16px;
  color: $white;
  margin-bottom: 2em;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  max-width: 800px;
}
.about__us__overlay__left__buttons {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.about__us__overlay__left__buttons__contact {
  width: 150px;
  padding: 1em 0em;
  background-color: $white;
  color: #ed1b24;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}
.about__us__overlay__left__buttons__contact:hover {
  background-color: $color;
  transition: all 300ms ease-in-out;
  color: $white;
}
.about__us__overlay__left__buttons__see__more {
  width: 150px;
  padding: 1em 0em;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  color: $white;
  cursor: pointer;
  margin-left: 12px;
}
.about__us__overlay__left__buttons__see__more svg {
  margin-left: 8px;
}
.about__us__container__overlay__right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  padding-right: 0em;
}
.about__us__container__overlay__right__card {
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 12px 0px;
}
.about__us__overlay__right__card__heading {
  font-size: 35px;
  margin-bottom: 0.2em;
  font-family: "Poppins", sans-serif;
  color: $white;
}
.about__us__overlay__right__card__subheading {
  font-size: 16px;
  margin-bottom: 0.4em;
  font-family: "Montserrat", sans-serif;
  color: $white;
}
.about__us__overlay__right__card__text {
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4em;
  color: $white;
}
.about__us__container__overlay__right__card:hover {
  background-color: $white;
  transition: all 300ms ease-in-out;
}
.about__us__container__overlay__right__card:hover
  .about__us__overlay__right__card__subheading {
  color: black;
}
.about__us__container__overlay__right__card:hover
  .about__us__overlay__right__card__text {
  color: black;
}
.about__us__container__overlay__right__card:hover
  .about__us__overlay__right__card__heading {
  color: black;
}
.design__and__construction__section {
  width: 100%;
  position: relative;
}
.design__and__construction__section__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4em 0em;
  padding-bottom: 1em;
  min-height: 100%;
}
.design__and__construction__section___heading {
  font-size: 25px;
  color: #ed1b24;
  margin-bottom: 0.5em;
}
.design__and__construction__section___text__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.design__and__construction__section__container__heading__left {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  max-width: 600px;
  padding: 1em 0em;
}
.design__and__construction__section__container__heading__right {
  width: 50%;
  padding: 1em;
  font-size: 14px;
  max-width: 550px;
}
.swiper__content__sec {
  width: 100%;
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
}
.swiper__img {
  width: 100%;
  height: 500px;
}
.swiper__img img {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper__button__handles {
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: 999;
}
.swiper__button__handles button {
  padding: 1em 2em;
  color: #ed1b24;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.swiper__button__handles button:hover {
  color: white;
  background-color: #ed1b24;
}
.swiper__button__handles button:nth-child(2) {
  margin-left: 5px;
}
.swiper-pagination-bullet-active {
  width: 20px !important;
  background-color: #ed1b24 !important;
  border-radius: 20px !important;
}
.swiper__button__handles .swiper-button-disabled {
  color: #ed1b24 !important;
  background-color: #fff !important;
}
@media (max-width: 1000px) {
  .about__us__container__overlay {
    flex-direction: column;
  }
  .about__us__container__overlay__left {
    width: 100%;
    padding-top: 0em;
  }
  .about__us__container__overlay__right {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-right: 2em;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__us__section {
    height: 900px;
  }
  .about__us__section__container img {
    height: 900px;
  }
  .design__and__construction__section___text__container {
    flex-direction: column;
  }
  .design__and__construction__section___heading {
    text-align: center;
  }
  .design__and__construction__section__container__heading__left {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .design__and__construction__section__container__heading__right {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 850px) {
  .about__us__section {
    height: 1100px;
  }
  .about__us__section__container img {
    height: 1100px;
  }
  .about__us__container__overlay__left {
    padding-left: 0em;
    padding-right: 0em;
  }
}
@media (max-width: 650px) {
  .about__us__section {
    height: 1050px;
  }
  .about__us__section__container img {
    height: 1050px;
  }
  .about__us__container__overlay__right__card {
    max-width: 100%;
  }
  .about__us__container__overlay__right {
    padding: 0em;
  }
  .about__us__container__overlay {
    padding: 4em 2em;
  }
  .about__us__overlay__left__heading {
    font-size: 30px;
    margin-bottom: 0.8em;
  }
  .design__and__construction__section__container {
    padding: 4em 2em;
  }
}
@media (max-width: 550px) {
  .about__us__section {
    height: 1100px;
  }
  .about__us__section__container img {
    height: 1100px;
  }
}
@media (max-width: 500px) {
  .about__us__section {
    height: 1150px;
  }
  .about__us__section__container img {
    height: 1150px;
  }
}

@media (max-width: 450px) {
  .about__us__section {
    height: 1200px;
  }
  .about__us__section__container img {
    height: 1200px;
  }
}
