$white: #fff;
$color: #ed1b24;
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
.about__us__section {
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 0;
  position: relative;
}
.about__us__section__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 700px;
}
.about__us__section__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.about__us__container__overlay {
  position: absolute;
  padding: 4em;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__us__container__overlay__left {
  width: 65%;
  padding: 2em;
}
.about__us__overlay__left__heading {
  font-size: 35px;
  color: $white;
  font-weight: 600;
  margin-bottom: 0.5em;
  font-family: "Poppins", sans-serif;
}
.about__us__overlay__left__text {
  font-size: 14px;
  color: $white;
  margin-bottom: 3em;
  width: 100%;
  max-width: 800px;
}
.about__us__overlay__left__buttons {
  display: flex;
  align-items: center;
}

.about__us__overlay__left__buttons__contact {
  width: 150px;
  padding: 1em 0em;
  background-color: $white;
  color: #ed1b24;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid transparent;
}
.about__us__overlay__left__buttons__contact:hover {
  border: 3px solid rgb(246, 30, 50);
  transition: all 300ms ease-in-out;
}
.about__us__overlay__left__buttons__see__more {
  width: 150px;
  padding: 1em 0em;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  color: $white;
  cursor: pointer;
  margin-left: 12px;
}

.about__us__overlay__left__buttons__see__more svg {
  margin-left: 8px;
}
.about__us__container__overlay__right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  padding-right: 0em;
}
.about__us__container__overlay__right__card {
  width: 100%;
  padding: 2em 1em;
  border-radius: 10px;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5em;
}
.about__us__overlay__right__card__heading {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: $white;
}
.about__us__overlay__right__card__subheading {
  font-size: 16px;
  margin-bottom: 0.4em;
  font-weight: 500;

  color: $white;
}
.about__us__overlay__right__card__text {
  text-align: center;
  font-size: 12px;

  margin-bottom: 0.4em;
  color: $white;
  width: 100%;
  max-width: 200px;
}
.about__us__container__overlay__right__card:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 300ms ease-in-out;
}
.about__us__container__overlay__right__card__active {
  background-color: $white;
  transition: all 300ms ease-in-out;
}
.about__us__container__overlay__right__card__active:hover {
  background-color: $white;
}
.about__us__container__overlay__right__card:hover * {
  color: black;
}
.about__us__container__overlay__right__card__active * {
  color: black;
}
.design__and__construction__section {
  width: calc(100% - 4em);
  margin: 0 auto;
  position: relative;
}
.design__and__construction__section__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4em 0em;
  padding-bottom: 1em;
  min-height: 100%;
}
.design__and__construction__section___heading {
  font-size: 25px;
  color: #ed1b24;
  margin-bottom: 0.5em;
  font-weight: 600;
}
.swiper__img__overlay__content__hover {
  height: 100%;
  background-color: rgba(237, 27, 36, 0.8);
  position: absolute;
  z-index: 999;
  top: 0;
}
.design__and__construction__section___text__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.design__and__construction__section__container__heading__left {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  max-width: 600px;
  padding: 1em 0em;
  padding-top: 0em;
}
.design__and__construction__section__container__heading__right {
  width: 50%;
  padding: 1em;
  font-size: 14px;
  max-width: 550px;
}
.swiper__content__sec {
  width: 100%;
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
}
.swiper__img {
  width: 100%;
  height: 500px;
  position: relative;
  max-width: 400px;
}
.swiper__img img {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper__img__overlay {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 2em);
  left: 0;
  margin: 0 auto;
  right: 0;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 12px;
}
.swiper__img__overlay__content__hover {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 15px;
  color: $white;
}
.swiper__img__overlay__content__hover__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.swiper__img__overlay__hover__content__heading {
  font-size: 25px;
  margin-bottom: 0.3em;
  font-weight: 600;
}
.swiper__img__overlay__hover__content__subheading {
  font-size: 16px;
  margin-bottom: 1em;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.swiper__img__overlay__hover__content__button {
  height: 40px;
  padding: 0em 2em;
  background-color: #000000;
  color: #fff;
  margin-bottom: 2em;
  cursor: pointer;
}
.swiper__img__overlay__hover__content__button__svg {
  display: flex;
  align-items: center;
}
.swiper__img__overlay__hover__content__button__svg svg {
  margin: 0px 5px;
  width: 24px;
  height: 25px;
}

.swiper__img__overlay__content__heading {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.1em;
}
.swiper__img__overlay__content__subheading {
  color: #fff;
  margin-bottom: 1.5em;
  font-size: 14px;
}
.swiper__img__overlay__content__bottom {
  display: flex;
  justify-content: space-between;
  z-index: 99;
}
.swiper__img__overlay__content__bottom__btn button {
  background-color: #ed1b24;
  color: #fff;
  height: 35px;
  padding: 0 1em;
  font-size: 15px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.swiper__img__overlay__content__bottom__svg {
  display: flex;
  align-items: center;
}
.swiper__img__overlay__content__bottom__svg svg {
  margin-left: 0.7em;
}
.swiper__button__handles {
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: 999;
  display: flex;
}
.swiper__button__handles button {
  height: 45px;
  padding: 0em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ed1b24;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.swiper__button__handles button svg {
  width: 20px;
  height: 20px;
}
.swiper__button__handles button:hover {
  color: white;
  background-color: #ed1b24;
}
.swiper__button__handles button:nth-child(2) {
  margin-left: 5px;
}
.swiper-pagination-bullet-active {
  width: 20px !important;
  background-color: #ed1b24 !important;
  border-radius: 20px !important;
}
.swiper__button__handles .swiper-button-disabled {
  color: #ed1b24 !important;
  background-color: #fff !important;
}
.benefit__section {
  width: calc(100% - 2em);
  margin: 0em 1em;
  padding: 4em 0em;
}
.benefit__section__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.benefit__section__container__heading {
  color: #ed1b24;
  font-size: 35px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.benefit__section__container__sub__heading {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.benefit__section__container__sub__text {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  max-width: 800px;
  color: #8a8989;
}
.benefit__section__container__cards {
  width: 100%;
  margin: 4em 0em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.benefit__section__container__cards__entry {
  width: 48%;
  display: flex;
  align-items: flex-start;
  padding: 2em;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  background-color: #eeeeee;
  margin: 0.5em;
  min-width: 410px;
}
.benefit__section__container__cards__entry__data__text {
  font-size: 14px;
}
.benefit__section__container__cards__entry:hover {
  background-color: #000000;
}
.benefit__section__container__cards__entry:hover * {
  color: #fff;
}
.benefit__section__container__cards__entry__svg {
  position: relative;
  margin-right: 0.8em;
  padding: 0.7em;
  background-color: $color;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.benefit__section__container__cards__entry__svg svg {
  height: 35px;
  width: 35px;
  z-index: 22;
}
.benefit__section__container__cards__entry__svg::after {
  content: "";
  position: absolute;
  background-color: rgba(237, 27, 36, 0.3);
  height: 60px;
  width: 60px;
  border-radius: 40px;
}

.benefit__section__container__cards__entry__data {
  padding: 1em;
  padding-top: 0em;
}
.benefit__section__container__cards__entry__data__heading {
  margin-bottom: 0.4em;
  font-size: 25px;
  font-weight: bold;
}
.benefit__section__container__cards__button {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.benefit__section__container__cards__button__contact {
  height: 50px;
  padding: 0em 3em;
  cursor: pointer;
  background-color: $color;
  color: $white;
  border: 1px solid $color;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.benefit__section__container__cards__button__contact:hover {
  background-color: rgb(246, 30, 50);
}
.benefit__section__container__cards__button__more {
  height: 50px;
  padding: 0em 3em;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
  font-weight: bold;
}
.benefit__section__container__cards__button__more svg {
  color: black;
  margin-left: 0.5em;
}
.benefit__section__container__cards__button__more:hover * {
  color: $color;
}
.benefit__section__container__cards__button__more:hover {
  color: $color;
}

@media (max-width: 1500px) {
  .about__us__section {
    margin: 0em 2em;
    width: calc(100% - 4em);
  }
}
@media (max-width: 1000px) {
  .about__us__container__overlay {
    flex-direction: column;
  }
  .about__us__container__overlay__left {
    width: 100%;
    padding-top: 0em;
  }
  .about__us__container__overlay__right {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-right: 2em;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__us__section {
    height: 900px;
  }
  .about__us__section__container img {
    height: 900px;
  }
  .design__and__construction__section___text__container {
    flex-direction: column;
  }
  .design__and__construction__section___heading {
    text-align: center;
  }
  .design__and__construction__section__container__heading__left {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .design__and__construction__section__container__heading__right {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 917px) {
  .about__us__section {
    height: 1020px;
  }
  .about__us__section__container img {
    height: 1020px;
  }
}
@media (max-width: 900px) {
  .benefit__section__container__cards__entry {
    width: 80%;
  }
  .about__us__section {
    height: 1050px;
  }
  .about__us__section__container img {
    height: 1050px;
  }
}
@media (max-width: 850px) {
  .about__us__section {
    height: 1100px;
  }
  .about__us__section__container img {
    height: 1100px;
  }
  .about__us__container__overlay__left {
    padding-left: 0em;
    padding-right: 0em;
  }
}
@media (max-width: 650px) {
  .about__us__section {
    height: 1050px;
  }
  .about__us__section__container img {
    height: 1050px;
  }
  .about__us__container__overlay__right__card {
    max-width: 100%;
  }
  .about__us__container__overlay__right {
    padding: 0em;
  }
  .about__us__container__overlay {
    padding: 4em 2em;
  }
  .about__us__overlay__left__heading {
    font-size: 30px;
    margin-bottom: 0.8em;
  }
  .design__and__construction__section__container {
    padding: 4em 2em;
  }
}
@media (max-width: 550px) {
  .about__us__section {
    height: 1100px;
  }
  .about__us__section__container img {
    height: 1100px;
  }
  .benefit__section__container__cards__entry {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .about__us__section {
    height: 1150px;
  }
  .about__us__section__container img {
    height: 1150px;
  }
  .benefit__section__container__cards__entry__svg {
    margin-right: 0em;
  }
  .benefit__section__container__cards__entry__data__text {
    font-size: 12px;
    text-align: justify;
  }
  .benefit__section__container__cards__entry__data__heading {
    font-size: 18px;
  }

  .benefit__section__container__cards__entry {
    min-width: 100%;
    padding: 1.5em;
  }
}

@media (max-width: 450px) {
  .about__us__section {
    height: 1200px;
  }
  .about__us__section__container img {
    height: 1200px;
  }
}
