$white: #fff;
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
.footer {
  position: relative;
  width: 100%;
}
.footer img {
  width: 100%;
  height: 100%;
  margin-top: -3em;
}
.footer__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: -2em;
}
.subscribe__card__container {
  width: calc(100% - 6em);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em 3em;
  background-color: $white;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.subscribe__card__container__heading {
  font-size: 35px;
  font-weight: 600;
  padding: 0em 1em;
}
.subscribe__card__container__mail {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.subscribe__card__container__mail input {
  padding: 0em 1em;
  height: 50px;
  width: 100%;
  max-width: 400px;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  padding-right: 12em;
}
.subscribe__mail__btn {
  position: relative;
  background-color: #ed1b24;
  color: white;
  border: none;
  padding: 0 1em;
  font-size: 13px;
  height: 38px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -10.2em;
  border: 1px solid transparent;
  transition: 300ms ease-in-out;
}
.subscribe__mail__btn:hover {
  background-color: $white;
  border: 1px solid #ed1b24;
  color: #ed1b24;
}
.footer__link__section {
  width: calc(100% - 4em);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3em;
  border-bottom: 0.5px solid rgba(10, 20, 46, 0.3);
}
.footer__links {
  text-decoration: none;
  padding: 0px 1em;
  color: black;
  transition: 300ms ease-in-out;
  font-weight: 600;
}
.footer__links a {
  width: 100%;
  min-width: 140px;
  margin: 0 1em;
}
.footer__links:hover {
  color: #ed1b24;
  transition: 300ms ease-in-out;
}
.footer__link__section__links {
  display: flex;
  align-items: center;
}
.footer__link__section__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__icon__link svg {
  height: 30px;
  width: 50px;
  margin: 0em 1em;
  color: black;
  transition: 300ms ease-in-out;
}
.footer__icon__link svg:hover {
  color: red;
  transition: 200ms ease-in-out;
}
.term__footer {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.term__footer__right a {
  padding: 0px 12px;
  color: black;
  text-decoration: none;
}
.term__footer__right a:hover {
  color: #ed1b24;
  transition: 300ms ease-in-out;
}
.term__footer__left {
  font-size: 16px;
}
@media (max-width: 1000px) {
  .subscribe__card__container {
    flex-direction: column;
    box-shadow: none;
    background-color: $white;
  }
  .subscribe__card__container__heading {
    margin-bottom: 1em;
    text-align: center;
  }
  .subscribe__card__container__mail {
    width: 100%;
    justify-content: center;
  }
  .footer__link__section {
    flex-direction: column;
  }
  .footer__link__section__links {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 3em;
  }
  .footer__link__section__icon {
    width: 100%;
  }
  .footer img {
    display: none;
    margin-top: 0em;
  }
  .footer__overlay {
    margin-top: 0em;
  }
}
@media (max-width: 700px) {
  .term__footer {
    flex-direction: column-reverse;
  }
  .term__footer__left {
    margin-top: 1em;
  }
}
@media (max-width: 600px) {
  .subscribe__card__container {
    padding: 3em 0.5em;
  }
  .footer__link__section {
    padding: 3em 0em;
  }
  .term__footer {
    padding: 2em 0em;
  }
}
@media (max-width: 500px) {
  .footer__link__section__links {
    flex-direction: column;
  }
  .footer__link__section {
    padding: 1em 2em;
    padding-top: 0em;
  }
  .footer__links {
    margin-bottom: 1em;
  }
  .footer__icon__link svg {
    width: 40px;
  }
  .subscribe__mail__btn {
    padding: 0.9em 0.5em;
    margin-left: -9.2em;
  }
}
