$white: #fff;
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
.sign__header__wraper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.sign__header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
}
.sign__header__container .active {
  background-color: red;
  color: white;
}
.nav__bar__contact {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  transition: 0.1s ease-in-out;
  margin-top: -2em;
}
.nav__bar__contant__link {
  text-decoration: none;
  padding: 1em;
  color: black;
  font-weight: 500;
  border-radius: 8px;
  margin: 8px;
  transition: 300ms ease-in-out;
}
.nav__bar__contant__link:hover {
  background-color: red;
  color: white;
  transition: 300ms ease-in-out;
}
.sign__header__logo img {
  height: 60px;
}
.nav__bar__btn__menu {
  display: none;
  align-items: center;
}
.nav__btn {
  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 0em;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
}
